/*html,
body {
	color: black;
	margin: 0;
	padding: 0;
	height: 100vh;
	z-index: 0;
	font-family: "Arial", sans-serif;
	background: #100028;
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
}
*/

.app-section {
    height: 100vh;
    width: 100vw;
    /*background: black;*/
    display: block;
    background: white;
    overflow: hidden;
    padding: 64px 128px 16px 128px;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}


.app-cont {
	width: 100%;
	height: 100%;
	box-shadow: 0 0 16px #00000055;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 24px;
	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
	flex-direction: row;
	transition: scale 0.3s ease;
}


.app-cont .carousel-sect {
	width: 60%;
	height: 100%;
	padding: 0;
	background: url('../../img/test_wide.jpg');
}


.app-cont .app-info-sect {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	/*overflow: auto;*/
	padding: 32px;
	color: black;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex-flow: column;
	gap: 16px;
}




.app-cont .app-info-sect .app-logo-cont {
	width: 64px;
	height: 64px;
	min-width: 64px;
	min-height: 64px;
	background: transparent;
	border-radius: 16px;
	overflow: hidden;
	position: relative;
}

.app-cont .app-info-sect .app-logo-cont img {
	width: 100%;
	height: 100%;
}

.app-cont .app-info-sect .app-title {
	font-weight: 600;
	color: black;
	position: relative;
	margin-bottom: 2px;
}


.app-cont .app-info-sect .last-updated {
	position: relative;
	margin-bottom: 16px;
}


.app-cont .app-info-sect .description {
	color: #777;
	display: block;
	font-size: 16px;
	position: relative;
}


.app-cont .app-info-sect .download-btns-cont {
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 24px;
}

.app-cont .app-info-sect .download-btns-cont .download-btn {
	display: flex;
	flex-direction: row;
	width: auto;
	max-width: 260px;
	gap: 8px;
	color: white;
	border-radius: 16px;
	align-items: center;
	font-size: 15px;
	padding: 12px 24px 12px 24px;
	background: #0064e0;
	cursor: pointer;
}

.app-cont .app-info-sect .download-btns-cont .download-btn:hover {
	background: #0044c0;
	text-decoration: none;
}







.app-cont .app-info-sect .app-meta-cont .meta-item {
	height: 100px;
	width: 96px;
	min-width: 96px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4px;
}

.app-cont .app-info-sect .app-meta-cont .meta-item .title {
	color: #777;
	font-weight: 600;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.app-cont .app-info-sect .app-meta-cont .meta-item .icon {
	width: 32px;
	height: 32px;
	display: block;
	background: url('../../img/test_wide.jpg');
	color: #777;
	background-position: center;
	margin: 0;
	padding: 0;
}

.app-cont .app-info-sect .app-meta-cont .meta-item .subtext {
	color: #777;
	font-weight: 100;
	font-size: 14px;
	margin: 0;
	padding: 0;
}











/******** 🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢 🚀🚀🚀🚀🚀🚀************/
/******** 🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢 🚀🚀🚀🚀🚀🚀************/
/******** 🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢 🚀🚀🚀🚀🚀🚀************/
/******** 🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢🟢 🚀🚀🚀🚀🚀🚀************/
/*---------------------
	Header
-----------------------*/
#navbar-privacy-policy {
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	right: 0;
	background: #000000ff;
	padding: 6px 128px 6px 128px;
	z-index: 3;
	backdrop-filter: blur(16px);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease;
}




